.academic__courses__item__img {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 368px;
    height: 286px;
    background: #FFFFFF;
    
}
.academic__courses__item__img--primera {
    width: 192px;
    height: 130px;
    
}

.academic__courses__item__img--segunda {
    width: 190px;
    height: 130px;

}

.academic__courses__item__img--tercera {
    width: 192px;
    height: 130px;

}